@charset "UTF-8";

.ui-header
{
    text-align : center;
}

#callNumber
{
    text-align : center;
}

#seriennummer
{
    height : 10px;
    width  : 150px
}

/* --------------------------------------------------------------------------------------------------------- iPad Landscape  ------------------------------------------------------------------------------------------------------- */
@media screen and (min-device-width: 481px) 
			  and (orientation:landscape) 
{
	.documentBody .ui-btn-inner .ui-btn-text
	{
		font-size : 24px;
	}
	
	
	/* ------------------------------------------ Anpassungen für die Grundzustandsseite -------------------------------------- */
	.ui-header
	{
		height	  : 40px;
		font-size : 30px;
	}
	
	#grundZustandInhalt
	{
	    background		: url(../images/dispo.JPG) no-repeat;
	    background-size	: 100% 100%;
	    position		: absolute;
   		top				: 30px;
    	right    		: 0;
    	bottom   		: 55px;
    	left     		: 0;
	}
	
	#startButton
	{
		position 	: absolute;
		left	 	: 15%;
		top		 	: 10%;
		width	 	: 70%;
		opacity	 	: 0.9;
		height	 	: 80px;
		padding-top : 15px;
	}
	
	#startButton .ui-btn-text{font-size:36px; margin-top:16px;}
	
	#grundZustandFooter
	{
		position : absolute;
    	bottom   : 10px;
    	left     : 0;
    	width    : 100%;
    	height   : 60px;
	}
	/* ---------------------------------------- Ende der Anpassung für die Grundzustandseite ----------------------------------- */
	
	/* ---------------------------------------- Anpassungen für die Startseite ------------------------------------------------- */
	#startScreenContent
	{	
		font-family : Arial, Helvetica, sans-serif;
		font-size 	: 36px;
		position	: absolute;
		top			: 20%;
		left		: 20%;
	}
	
	#indicatorFunk{color:blue;}
	/* ----------------------------------------- Ende der Anpassungen für die Startseite --------------------------------------- */
	
	/* ----------------------------------------- Anpassungen für die Fahreranmeldungsseite ------------------------------------- */
	#anmeldeBildschrimInhalt
	{
		position : absolute;
		top		 : 15%;
		left     : 5%;
		width	 : 80%;
	}
	
	label[for=FahrerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 32px;
	}
	
	label[for=password] 
	{
    	font-weight : bold;
    	font-size	: 32px;
	}
	
	label[for=AufliegerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 32px;
	}
	/* ----------------------------------------- Ende der Anpassungen für die Fahreranmeldungsseite ---------------------------- */
	
	/* ----------------------------------------- Anpassungen für die Tourenseiteninhalt ---------------------------------------- */
	#TourenPageContent
	{
		position : absolute;
		top		 : 20%;
		width	 : 97%;
	}
	
	.Tour1Link, .Tour2Link
	{
    	height 		: 70px;
	}
	
	.Tour1Link .ui-btn-inner .ui-btn-text, .Tour2Link .ui-btn-inner .ui-btn-text{font-size:40px;}
	/* ----------------------------------------- Ende der Anpassungen für die Tourenseiteninhalt ---------------------------------------- */
}

/* ---------------------------------------------------------------------------------------------------------- iPad Portrait ------------------------------------------------------------------------------- */
@media screen and (min-device-width: 481px) 
			  and (orientation:portrait) 
{
	.documentBody .ui-btn-inner .ui-btn-text
	{
		font-size : 24px;
	}
	
	
	/* ------------------------------------------ Anpassungen für die Grundzustandsseite -------------------------------------- */
	.ui-header
	{
		height	  : 40px;
		font-size : 30px;
	}
	
	#grundZustandInhalt
	{
	    background		: url(../images/dispoLargeCut.jpg) no-repeat;
	    background-size : 100% 100%;
	    position 		: absolute;
   		top      		: 20px;
    	right   		: 0;
    	bottom   		: 50px;
    	left     		: 0;
	}
	
	#startButton
	{
		position 	: absolute;
		left	 	: 15%;
		top		 	: 10%;
		width	 	: 70%;
		opacity	 	: 0.9;
		height	 	: 80px;
		padding-top : 15px;
	}
	
	#startButton .ui-btn-text{font-size:36px; margin-top:16px;}
	
	#grundZustandFooter
	{
		position : absolute;
    	bottom   : 10px;
    	left     : 0;
    	width    : 100%;
    	height   : 60px;
	}
	/* ---------------------------------------- Ende der Anpassung für die Grundzustandseite ----------------------------------- */
	
	/* ---------------------------------------- Anpassungen für die Startseite ------------------------------------------------- */
	#startScreenContent
	{	
		font-family : Arial, Helvetica, sans-serif;
		font-size 	: 36px;
		position	: absolute;
		top			: 20%;
		left		: 15%;
	}
	
	#indicatorFunk{color:blue;}
	
	/* ----------------------------------------- Ende der Anpassungen für die Startseite --------------------------------------- */
	
	/* ----------------------------------------- Anpassungen für die Fahreranmeldungsseite ------------------------------------- */
	#anmeldeBildschrimInhalt
	{
		position : absolute;
		top		 : 15%;
		left     : 5%;
		width	 : 85%;
	}
	
	label[for=FahrerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 30px;
	}
	
	label[for=password] 
	{
    	font-weight : bold;
    	font-size	: 30px;
	}
	
	label[for=AufliegerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 30px;
	}
	
	/* ----------------------------------------- Ende der Anpassungen für die Fahreranmeldungsseite ---------------------------- */
}

/* ----------------------------------------------------------------------------------------- iPhone < 5 portrait NO Retina -------------------------------------------------------------------------- */
@media only screen and (min-device-width : 320px) 
				   and (max-device-width : 480px) 
				   and (orientation:portrait) 
				   and (-webkit-min-device-pixel-ratio: 1)
{
	.documentBody .ui-btn-inner .ui-btn-text
	{
		font-family : Arial, Helvetica, sans-serif;
		font-size	: 16px;
	}
	
	/* ------------------------------------------ Anpassungen für die Grundzustandsseite -------------------------------------- */ 
	.ui-header
	{
		font-size: 18px;
	}
	
	#grundZustandInhalt
	{
	    background 		: url(../images/dispo_iPhone.jpg) no-repeat;
	    background-size : 100% 100%;
	    position 		: absolute;
   		top      		: 20px;
    	right    		: 0;
    	bottom   		: 20px;
    	left     		: 0;
	}
	
	#startButton
	{
		position : absolute;
		left	 : 5%;
		top		 : 7%;
		width	 : 90%;
		opacity	 : 0.7;
		height	 : 60px;
	}
	
	#startButton .ui-btn-text{font-size:32px; padding-top:0px;}
	
	#grundZustandFooter
	{
		position : absolute;
    	bottom   : 29px;
    	left     : 0;
    	width    : 100%;
    	height   : 30px;
	}
	/* ---------------------------------------- Ende der Anpassung für die Grundzustandseite ----------------------------------- */
	
	/* ---------------------------------------- Anpassungen für die Startseite ------------------------------------------------- */
	#startScreenContent
	{
		font-family : Arial, Helvetica, sans-serif;
		font-size	: 18px;
		position	: absolute;
		top			: 20%;
	}
	
	#indicatorFunk{color:blue;}
	
	/* ----------------------------------------- Ende der Anpassungen für die Startseite --------------------------------------- */
	
	/* ----------------------------------------- Anpassungen für die Fahreranmeldungsseite ------------------------------------- */
	#anmeldeBildschrimInhalt
	{
		position : absolute;
		top		 : 1%;
		left     : 1%;
		width	 : 89%;
	}
	
	label[for=FahrerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 18px;
	}
	
	label[for=password] 
	{
    	font-weight : bold;
    	font-size	: 18px;
	}
	
	label[for=AufliegerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 18px;
	}
	/* ----------------------------------------- Ende der Anpassungen für die Fahreranmeldungsseite ---------------------------- */
}

/* -------------------------------------------------------------------------------------------- iPhone 5 and 5s portrait WITH Retina ------------------------------------------------------------- */
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait)
{
	.documentBody .ui-btn-inner .ui-btn-text
	{
		font-family : Arial, Helvetica, sans-serif;
		font-size	: 16px;
	}
	
	/* ------------------------------------------ Anpassungen für die Grundzustandsseite -------------------------------------- */
	.ui-header
	{
		font-size: 18px;
	}
	
	#grundZustandInhalt
	{
	    background		: url(../images/dispo_iPhone.jpg) no-repeat;
	    background-size : 100% 100%;
	    position 		: absolute;
   		top      		: 20px;
    	right    		: 0;
    	bottom   		: 30px;
    	left     		: 0;
	}
	
	#startButton
	{
		position : absolute;
		left	 : 5%;
		top		 : 7%;
		width	 : 90%;
		opacity	 : 0.7;
		height	 : 60px;
	}
	
	#startButton .ui-btn-text{font-size:32px; padding-top:0px;}
	
	#grundZustandFooter
	{
		position : absolute;
    	bottom   : 29px;
    	left     : 0;
    	width    : 100%;
    	height   : 30px;
	}
	/* ---------------------------------------- Ende der Anpassung für die Grundzustandseite ----------------------------------- */
	
	/* ---------------------------------------- Anpassungen für die Startseite ------------------------------------------------- */
	#startScreenContent
	{
		font-family : Arial, Helvetica, sans-serif;
		font-size	: 18px;
		position	: absolute;
		top			: 20%;
	}
	
	#indicatorFunk{color:blue;}
	
	/* ----------------------------------------- Ende der Anpassungen für die Startseite --------------------------------------- */
	
	/* ----------------------------------------- Anpassungen für die Fahreranmeldungsseite ------------------------------------- */
	#anmeldeBildschrimInhalt
	{
		position : absolute;
		top		 : 1%;
		left     : 1%;
		width	 : 89%;
	}
	
	label[for=FahrerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 18px;
	}
	
	label[for=password] 
	{
    	font-weight : bold;
    	font-size	: 18px;
	}
	
	label[for=AufliegerAuswahl] 
	{
    	font-weight : bold;
    	font-size	: 18px;
	}
	/* ----------------------------------------- Ende der Anpassungen für die Fahreranmeldungsseite ---------------------------- */
}